*{padding:0px;margin:0px;}

input,select,textarea:focus{
outline:none
}
a:link{
color:#2064D7
}
a:visited{
color:#2064D7
}
.main_head{
height:32px;
background-color:#414141;
}
.m_error{
border-color:red !important
}
.main_tool{
height:32px;
background-color:#414141;
margin-top:1px;
line-height:32px;
display:none;
}
.main_logo1{
float:left;
background:url(../img/logo-min.png) no-repeat 4px 3px;
background-size:86%;
width:40px;
height:32px;
}
.main_logo{
float:left;
background:url(../img/logo.png) no-repeat 0px 3px;
background-size:90%;
width:90px;
height:32px;
margin-right:30px;
}
.main_menu_flow{
float:left;
background:url(../img/flow.png) no-repeat 0px 8px;
background-size:21%;
width:80px;
height:32px;
text-align:center;
color:#fff;
line-height:32px;
font-size:14px;
cursor:pointer;
}
.main_menu_ds{
float:left;
background:url(../img/ds.png) no-repeat 0px 8px;
background-size:21%;
width:80px;
height:32px;
text-align:center;
color:#fff;
line-height:32px;
font-size:14px;
cursor:pointer;
}
.main_user{
float:right;
height:32px;
color:#fff;
line-height:32px;
font-size:14px;
margin-right:30px;
}
.main_menu_help{
float:left;
background:url(../img/help.png) no-repeat 2px 5px;
background-size:28%;
width:80px;
height:32px;
text-align:center;
color:#fff;
line-height:32px;
font-size:14px;
cursor:pointer;
}
.main_tree{
width:361px;
height:223px;
bottom:0px;
position:absolute;
display:none;
}
.main_conf{
width:261px;
height:600px;
bottom:0px;
right:0px;
position:absolute;
background-color:#414141;
display:none;
}
.main_console{
width:700px;
height:223px;
bottom:0px;
left:362px;
position:absolute;
background-color:#414141;
display:none;
}
.main_banner{
font-size:52px;
color:#fff;
position:absolute;
display:none;
background:url(../img/banner.png) no-repeat 30px 0px;
background-size:96%;
width:700px;
height:487px;
}
.main_banner_name{
font-size:30px;
color:#fff;
position:absolute;
font-family:"Times New Roman";
user-select:none;
display:none;
}
.main_console_head{
width:100%;
height:32px;
line-height:30px;
border:solid 0px #1D1D1D;
border-bottom-width:1px;
}
.main_console_area{
width:594px;
height:168px;
margin-top:4px;
margin-left:4px;
border-radius:6px;
background-color:#1D1D1D;
overflow:scroll;
font-size:14px;
color:#fff;
padding:6px;
line-height: 1.8em;
}
.main_console_head_txt{
float:left;
color:#ADADAE;
font-size:14px;
margin-left:12px;
line-height:32px;
}
.main_tree_head{
width:361px;
height:32px;
background-color:#414141;
line-height:30px;
}
.main_tree_head_txt{
float:left;
color:#ADADAE;
font-size:14px;
margin-left:42px;
line-height:32px;
}
.main_tool_title{
float:left;
color:#ADADAE;
font-size:14px;
margin-left:10px;
}
.tree_search{
margin-left:106px;
width:140px;
height:20px;
border:solid 1px #1D1D1D;
border-radius:6px;
padding-left:22px;
color:#ADADAE;
background:url(../img/ser.png) no-repeat 4px 2px;
background-size:10%;
background-color:#1D1D1D;
}
.copyright_info{
position:absolute;
bottom:16px;
left:500px;
font-size:14px;
font-weight:bold;
color:#fff;
}
.tree_add{
margin-left:8px;
margin-top:5px;
width:160px;
height:20px;
border:solid 1px #1D1D1D;
border-radius:6px;
padding-left:6px;
color:#ADADAE;
background-color:#1D1D1D;
}
.main_ds_table_head{
width:750px;
height:30px;
line-height:30px;
margin-top:10px;
margin-left:10px;
border:solid 1px #262626;
background-color:#2A456D;
user-select:none;
}
.main_var_table_head{
width:280px;
height:30px;
line-height:30px;
margin-top:10px;
margin-left:10px;
border:solid 1px #262626;
background-color:#2A456D;
user-select:none;
}
.main_ds_edit_params_head,.main_ds_edit_cols_head{
width:580px;
height:30px;
line-height:30px;
top:244px;
left:60px;
position:absolute;
border:solid 1px #262626;
background-color:#2A456D;
user-select:none;
}
.main_ds_table_row{
width:750px;
height:30px;
line-height:30px;
border:solid 0px #262626;
background-color:#2F333B;
border-bottom-width:1px;
user-select:none;
}
.main_var_table_row{
width:280px;
height:30px;
line-height:30px;
border:solid 0px #262626;
background-color:#2F333B;
border-bottom-width:1px;
user-select:none;
}
.main_ds_table_body{
width:750px;
height:500px;
margin-left:10px;
border:solid 1px #262626;
background-color:#2F333B;
overflow-y:scroll;
border-top-width:0px;
}
.main_var_table_body{
width:280px;
height:150px;
margin-left:10px;
border:solid 1px #262626;
background-color:#2F333B;
overflow-y:scroll;
border-top-width:0px;
}
.main_ds_edit_params_body,.main_ds_edit_cols_body{
width:580px;
height:160px;
position:absolute;
left:60px;
top:276px;
border:solid 1px #262626;
background-color:#2F333B;
overflow-y:scroll;
border-top-width:0px;
}
.main_ds_table_head_col{
width:100px;
height:30px;
float:left;
text-align:center;
}
.main_var_table_head_col{
width:50px;
height:30px;
float:left;
text-align:center;
}
.ds_search{
margin-left:10px;
margin-top:6px;
width:180px;
height:20px;
border:solid 1px #1D1D1D;
border-radius:6px;
padding-left:22px;
color:#ADADAE;
background:url(../img/ser.png) no-repeat 4px 2px;
background-size:8%;
background-color:#1D1D1D;
float:left;
}
.main_tree_tool{
float:left;
height:190px;
width:32px;
background-color:#414141;
border:solid 0px #1D1D1D;
border-top-width:1px;
}
.main_tree_area{
float:left;
height:190px;
width:329px;
background-color:#414141;
border:solid 0px #1D1D1D;
border-top-width:1px;
}
.main_tree_area_inner{
height:170px;
width:310px;
background-color:#1D1D1D;
margin-top:4px;
margin-left:4px;
border-radius:8px;
overflow:scroll;
}
.main_tool_title_input{
width:180px;
height:20px;
border:solid 1px #1D1D1D;
border-radius:6px;
padding-left:6px;
color:#ADADAE;
background-color:#1D1D1D;
display:none;
}
.main_dynamic_input{
width:80%;
height:22px;
border:none;
border-radius:6px;
color:#ADADAE;
text-align:center;
background-color:transparent;
}
.main_conf_base_type_input{
width:160px;
height:20px;
border:solid 1px #1D1D1D;
border-radius:6px;
position:absolute;
right:10px;
top:36px;
color:#ADADAE;
padding-left:8px;
background-color:#1D1D1D;
}
.main_ds_edit_code,.main_ds_edit_name{
width:160px;
height:20px;
border:solid 1px #1D1D1D;
border-radius:6px;
position:absolute;
left:60px;
top:10px;
color:#ADADAE;
padding-left:8px;
background-color:#1D1D1D;
}
.main_ds_edit_sql{
width:580px;
height:160px;
border:solid 1px #1D1D1D;
border-radius:6px;
position:absolute;
left:60px;
top:72px;
}
.main_conf_base_type_desc,main_conf_base_code{
width:230px;
height:56px;
border:solid 1px #1D1D1D;
border-radius:6px;
position:absolute;
right:10px;
top:124px;
color:#ADADAE;
padding-left:8px;
background-color:#1D1D1D;
resize: none;
}
.main_conf_base_type_name{
width:160px;
height:20px;
border:solid 1px #1D1D1D;
border-radius:6px;
position:absolute;
right:10px;
top:66px;
color:#ADADAE;
padding-left:8px;
background-color:#1D1D1D;
}
.main_conf_base_type_ds{
width:140px;
height:20px;
border:solid 1px #1D1D1D;
border-radius:6px;
position:absolute;
right:44px;
top:190px;
color:#ADADAE;
padding-left:8px;
background-color:#1D1D1D;
}
.main_conf_base_type_ds_open{
width:16px;
height:16px;
position:absolute;
right:10px;
top:192px;
background:url(../img/open.png) no-repeat 0px 0px;
background-size:100%;
cursor:pointer;
}
.main_tree_tool_add,.main_ds_tool_add,.main_var_tool_add{
width:32px;
height:28px;
background:url(../img/add.png) no-repeat 8px 8px;
background-size:52%;
cursor:pointer;
}
.main_tree_tool_del,.main_console_tool_del{
width:32px;
height:28px;
background:url(../img/del.png) no-repeat 8px 8px;
background-size:52%;
cursor:pointer;
}
.main_left_tool_select{
width:24px;
height:24px;
margin-top:4px;
margin-left:4px;
margin-right:4px;
border-radius:6px;
background:url(../img/select.png) no-repeat 3px 3px;
background-size:70%;
cursor:pointer;
}
.add_dir_name{
width:210px;
height:32px;
border: solid 1px #40413F;
background-color: #2D3032;
position:absolute;
left:40px;
bottom:150px;
display:none;
}

.alert_tip{
width:260px;
height:82px;
border: solid 1px #40413F;
background-color: #2D3032;
position:absolute;
left:40px;
bottom:150px;
display:none;
}

.main_left_tool_user{
width:24px;
height:24px;
margin-top:4px;
margin-left:4px;
margin-right:4px;
border-radius:6px;
background:url(../img/user.png) no-repeat 4px 3px;
background-size:70%;
cursor:pointer;
}
.main_left_tool_fellow{
width:24px;
height:24px;
margin-top:4px;
margin-left:4px;
margin-right:4px;
border-radius:6px;
background:url(../img/fellow.png) no-repeat 2px 2px;
background-size:90%;
cursor:pointer;
}
.selected_tool{
background-color:#1d1d1d;
}
.main_left_tool_split{
width:22px;
height:0px;
border:solid 0px #fff;
border-top-width:1px;
margin-left:6px;
margin-top:8px;
margin-bottom:8px;
}
.main_tool_edit_title{
float:left;
width:32px;
height:28px;
background:url(../img/edit.png) no-repeat 8px 8px;
background-size:54%;
cursor:pointer;
}
.main_ds_table_head_col_edit{
float:left;
width:32px;
height:28px;
background:url(../img/edit.png) no-repeat 8px 8px;
background-size:54%;
cursor:pointer;
margin-left:16px;
}
.main_ds_table_head_col_del,.main_var_table_head_col_del{
float:left;
width:32px;
height:28px;
background:url(../img/del.png) no-repeat 8px 8px;
background-size:54%;
cursor:pointer;
}
.main_group_select{
float:right;
width:180px;
height:24px;
background-color:#1d1d1d;
border:none;
margin-top:4px;
margin-right:36px;
border-radius:6px;
padding-left:4px;
padding-right:4px;
color:#ADADAE;
}
.main_ds_select{
width:170px;
height:24px;
background-color:#1d1d1d;
border:none;
border-radius:6px;
color:#ADADAE;
position:absolute;
top:40px;
left:60px;
}
.main_tool_close{
float:right;
width:28px;
height:28px;
background:url(../img/close.png) no-repeat 0px 6px;
background-size:72%;
cursor:pointer;
}
.tree_add_close{
position:absolute;
top:0px;
right:-6px;
width:28px;
height:28px;
background:url(../img/close.png) no-repeat 0px 6px;
background-size:72%;
cursor:pointer;
}
.main_tool_var{
float:right;
width:28px;
height:28px;
background:url(../img/var.png) no-repeat 2px 6px;
background-size:78%;
cursor:pointer;
}
.main_tool_save{
float:right;
width:28px;
height:28px;
background:url(../img/save.png) no-repeat 2px 6px;
background-size:68%;
cursor:pointer;
}
.main_tool_stop{
float:right;
width:28px;
height:28px;
background:url(../img/stop.png) no-repeat 1px 6px;
background-size:70%;
cursor:pointer;
}
.main_tool_code{
float:right;
width:28px;
height:28px;
background:url(../img/code.png) no-repeat 1px 6px;
background-size:70%;
cursor:pointer;
}
.main_tool_undo{
float:right;
width:28px;
height:28px;
background:url(../img/undo.png) no-repeat 0px 6px;
background-size:74%;
cursor:pointer;
margin-right:36px;
}
.main_tool_run{
float:right;
width:28px;
height:28px;
background:url(../img/run.png) no-repeat 0px 5px;
background-size:78%;
cursor:pointer;
}
.main_tool_graph{
float:right;
width:28px;
height:28px;
background:url(../img/graph.png) no-repeat 1px 5px;
background-size:74%;
cursor:pointer;
}
.main_left_tool{
float:left;
height:500px;
width:32px;
background-color:#414141;
border:solid 0px #1D1D1D;
border-top-width:1px;
display:none;
}
.main_conf_head{
height:32px;
line-height: 32px;
border: solid 0px #1D1D1D;
border-bottom-width: 1px;
color:#ADADAE;
font-size:14px;
padding-left:12px;
}
.main_conf_base{
height:252px;
width:100%;
border: solid 0px #1D1D1D;
border-bottom-width: 1px;
color:#ADADAE;
font-size:14px;
position:relative;
}
.main_conf_param{
height:230px;
width:100%;
border: solid 0px #1D1D1D;
border-bottom-width: 1px;
color:#ADADAE;
font-size:14px;
position:relative;
}
.main_conf_aggr{
height:100px;
width:100%;
color:#ADADAE;
font-size:14px;
position:relative;
}
.main_conf_base_title{
color:#ADADAE;
font-size:14px;
position:absolute;
top:8px;
left:12px;
}
.main_conf_param_title,.main_conf_aggr_title{
color:#ADADAE;
font-size:14px;
position:absolute;
top:8px;
left:12px;
}
.main_conf_base_type,.main_ds_edit_code_txt,.main_ds_edit_name_txt,
.main_ds_edit_type_txt,.main_ds_edit_sql_txt,.main_ds_edit_params_txt,.main_ds_edit_cols_txt{
color:#ADADAE;
font-size:14px;
position:absolute;
top:38px;
left:12px;
}
.main_conf_base_ds{
color:#ADADAE;
font-size:14px;
position:absolute;
top:192px;
left:12px;
}
.main_conf_base_rela{
color:#ADADAE;
font-size:14px;
position:absolute;
top:222px;
left:12px;
}
.main_conf_base_rela_radio{
color:#ADADAE;
font-size:12px;
position:absolute;
top:222px;
left:100px;
background-color:#2F333B;
padding-left:24px;
padding-top:2px;
padding-bottom:2px;
padding-right:8px;
border-radius:6px;
cursor:pointer;
border:solid 1px #4C4D4D;
background:url(../img/inter.png) no-repeat 6px 4px;
background-size:23%;
}
.main_conf_base_rela_union{
background:url(../img/union.png) no-repeat 6px 4px;
background-size:23%;
}
.main_conf_base_rela_radio_checked{
background-color:#29456D;
color:#ACADAD;
border-color:#3B5C79;
}
.main_conf_base_name{
color:#ADADAE;
font-size:14px;
position:absolute;
top:68px;
left:12px;
}
.main_conf_base_desc{
color:#ADADAE;
font-size:14px;
position:absolute;
top:96px;
left:12px;
}
.main_canvas{
float:left;
width:800px;
height:400px;
border:solid 0px #1D1D1D;
border-top-width:1px;
background-color:#414141;
display:none;
position:relative;
}
.node_result_row_val{
float:right;
padding-right:10px;
}
.node_result_row_key{
float:left;
width:70px;
}
.main_canvas_inner{
width:100px;
height:100px;
border-radius:8px;
background-color:#1D1D1D;
margin-top:4px;
position:relative;
overflow:scroll;
}
.main_chart_inner{
width:100px;
height:100px;
border-radius:8px;
background-color:#000;
opacity:0.8;
position:absolute;
top:70px;
left:32px;
display:none;
}
.node_result{
width:170px;
background:linear-gradient(90deg, #1A90F7, #F3551C);
position:absolute;
top:34px;
left:0px;
border-radius:6px;
display:none;
}
.node_result_row{
width:160px;
padding-left:10px;
height:28px;
line-height:28px;
color: #fff;
}
.main_start{
position:absolute;
height:38px;
line-height:38px;
width:100px;
border-radius:8px;
color:#fff;
font-size:18px;
cursor:pointer;
background-color:#0C6BFF;
text-align:center;
user-select: none;
display:none;
}
.user_node{
position:absolute;
top:10px;
left:10px;
display: inline-block;
min-width:110px;
height:30px;
border-radius:8px;
color:#fff;
font-size:14px;
line-height:30px;
background:url(../img/user.png) no-repeat 6px 4px;
background-size:21px 21px;
cursor:pointer;
background-color:#0C6BFF;
padding-left:36px;
padding-right:10px;
user-select: none;
}
.fellow_node{
position:absolute;
top:10px;
left:10px;
display: inline-block;
min-width:110px;
height:30px;
border-radius:8px;
color:#fff;
font-size:14px;
line-height:30px;
background:url(../img/fellow.png) no-repeat 6px 2px;
background-size:25px 25px;
cursor:pointer;
background-color:#0C6BFF;
padding-left:36px;
padding-right:10px;
user-select: none;
}
.main_conf_param_outer{
width:240px;
height:188px;
background-color:#1d1d1d;
border-radius:6px;
position:absolute;
top:34px;
left:10px;
overflow-y:scroll;
}
.main_conf_aggr_outer{
width:240px;
height:100px;
background-color:#1d1d1d;
border-radius:6px;
position:absolute;
top:34px;
left:10px;
overflow-y:scroll;
}
.main_canvas_inner_scroll{
width:6000px;
height:2000px;
}
.selected_node{
border:solid 2px  rgba(248,107,35);
}
.main_menu{
width:246px;
position:absolute;
top:100px;
left:100px;
border:solid 1px #40413F;
background-color:#2D3032;
display:none;
}
.main_menu_item_del,.main_menu_item_copy,.main_menu_item_sql,.main_menu_item_run{
height:30px;
width:240px;
line-height:30px;
font-size:14px;
color:#ADADAE;
padding-left:10px;
cursor:pointer;
}
.main_menu>div:hover{
background-color:#234EBE;
}
.main_modal{
position:absolute;
top:0px;
left:0px;
bottom:0px;
right:0px;
background-color:#000;
opacity:0.6;
display:none;
}
.main_code,.main_code_sql{
position:absolute;
top:100px;
left:100px;
width:770px;
height:620px;
border:solid 1px #40413F;
background-color:#2D3032;
color:#ADADAE;
font-size:14px;
display:none;
}
.main_var{
position:absolute;
top:100px;
left:100px;
width:300px;
height:300px;
border:solid 1px #40413F;
background-color:#2D3032;
color:#ADADAE;
font-size:14px;
display:none;
}
.main_ds{
position:absolute;
top:100px;
left:100px;
width:770px;
height:620px;
border:solid 1px #40413F;
background-color:#2D3032;
color:#ADADAE;
font-size:14px;
display:none;
}
.alert_text{
text-align:center;
height:22px;
width:100%;
margin-top:10px;
color:#ADADAE;
font-size:14px;
}
.alert_btn{
position:absolute;
left:50px;
bottom:10px;
width:70px;
height:22px;
line-height:22px;
border:solid 1px #40413F;
background-color:#29456D;
border-radius:6px;
color:#ADADAE;
font-size:14px;
cursor:pointer;
text-align:center;
user-select:none;
}
.param_row{
height:26px;
width:238px;
margin-top:4px;
}
.param_k{
height:26px;
width:80px;
float:left;
padding-left:8px;
line-height:26px;
}
.param_v{
float:left;
height:26px;
width:134px;
}
.param_v_input{
height:20px;
width:134px;
margin-top:2px;
border: solid 1px #515151;
border-radius:6px;
color: #ADADAE;
padding-left: 8px;
background-color: transparent;
}
.alert_btn2{
position:absolute;
left:140px;
bottom:10px;
width:70px;
height:22px;
line-height:22px;
border:solid 1px #40413F;
border-radius:6px;
color:#ADADAE;
font-size:14px;
cursor:pointer;
text-align:center;
user-select:none;
}
.main_submit{
position:absolute;
right:10px;
bottom:10px;
width:80px;
height:26px;
line-height:26px;
border:solid 1px #40413F;
background-color:#29456D;
border-radius:6px;
color:#ADADAE;
font-size:14px;
cursor:pointer;
text-align:center;
user-select:none;
}
.main_ds_edit_panel{
position:absolute;
top:100px;
left:100px;
width:670px;
height:720px;
border:solid 1px #40413F;
background-color:#2D3032;
color:#ADADAE;
font-size:14px;
display:none;
}
.main_ds_table_row:hover{
background-color:#0C1F2F;
}
.main_ds_head,.main_ds_edit_head,.main_code_head,.main_code_sql_head,.main_var_head{
height:30px;
width:100%;
line-height:30px;
user-select:none;
}

.main_ds_head_title,.main_ds_edit_head_title,.main_code_head_title,.main_code_sql_head_title,.main_var_head_title{
float:left;
padding-left:10px;
color:#fff;
}
.main_chart_head_close{
width:22px;
height:22px;
background:url(../img/close.png) no-repeat 6px 4px;
background-size:21px 21px;
cursor:pointer;
position:absolute;
top:10px;
right:18px;
z-index:999;
display:none;
}
.main_ds_head_close,.main_ds_edit_head_close,.main_code_head_close,.main_code_sql_head_close,.main_var_head_close{
float:right;
padding-right:10px;
width:22px;
height:22px;
background:url(../img/close.png) no-repeat 6px 4px;
background-size:21px 21px;
cursor:pointer;
}
.jsplumb_label{
color:yellow;
font-size:14px;
}
.main_ds_tool,.main_var_tool{
height:30px;
width:100%;
line-height:30px;
}
.main_ds_edit_tool{
height:690px;
width:100%;
position:relative;
}
